<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

    <!--<link href="../public/css/styles.css" rel="stylesheet">
    <link href="../public/js/main.js"></link>-->
    <link href="css/sidebar-left.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <!--<link href="css/demo.css" rel="stylesheet">-->
    <!--<script src="js/main.js"></script>-->

    <link rel="icon" href="http://tpfip.ca/wp-content/uploads/2017/04/cropped-TPFIP_favicon_crop1-300x300.png" type="image/png" sizes="16x16">

    <title>Show</title>
</head>
<body>
<aside class="sidebar-left">

    <a class="company-logo" href="#"><img src="https://static.independent.co.uk/s3fs-public/styles/article_small/public/thumbnails/image/2016/11/09/16/trump-salute.gif"></a>

    <div class="sidebar-links">
        <a class="link-blue" href="/"><i class="fa fa-home"></i>Home</a>
        <a class="link-red" href="/add"><i class="fa fa-plus-circle"></i>Add</a>
        <a class="link-yellow" href="/update"><i class="fa fa-pencil"></i>Update</a>
        <a class="link-green" href="/remove"><i class="fa fa-minus-circle"></i>Remove</a>
        <a class="link-blue selected" href="/show"><i class="fa fa-globe"></i>Show all tables</a>
    </div>

</aside>

<div class="main-content">

    <div class="container">
        <div class="row">

            <div class="col-md-10 col-md-offset-1">

                <div class="panel panel-default panel-table panel-success ">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h3 class="panel-title">Lista cu inotatori</h3>
                            </div>
                            <div class="col col-xs-6 text-right">

                                <a class="btn btn-sm btn-primary btn-create" href="/add">Create New</a>
                                <a class="btn btn-sm btn-info btn-lg" href="/update"><em class="fa fa-pencil"></em></a>
                                <a class="btn btn-sm btn-primary btn-danger" href="/remove"><em class="fa fa-trash"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                            <tr>
                                <th >Nume</th>
                                <th >Prenume</th>
                                <th >Categorie</th>
                                <th >Nastere</th>
                                <th >Antrenor</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="oneInotator: ${inotatori}" >
                                <td th:text="${oneInotator.getNume_inot()}" ></td>
                                <td th:text="${oneInotator.getPrenume_inot()}" ></td>
                                <td th:text="${oneInotator.getCategorie()}" ></td>
                                <td th:text="${oneInotator.getStringNastere()}" ></td>
                                <td th:text="${oneInotator.getAntrenorNumePrenume()}" ></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col col-xs-4">Page 1 of 5
                            </div>
                            <div class="col col-xs-8">
                                <ul class="pagination hidden-xs pull-right">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                                <ul class="pagination visible-xs pull-right">
                                    <li><a href="#">«</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-10 col-md-offset-1">

                <div class="panel panel-default panel-table panel-warning ">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h3 class="panel-title">Lista cu Antrenori</h3>
                            </div>
                            <div class="col col-xs-6 text-right">

                                <button type="button" class="btn btn-sm btn-primary btn-create">Create New</button>
                                <a class="btn btn-sm btn-info btn-lg"><em class="fa fa-pencil"></em></a>
                                <a class="btn btn-sm btn-primary btn-danger"><em class="fa fa-trash"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                            <tr>
                                <th>Nume</th>
                                <th >Prenume</th>
                                <th >Nastere</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="oneAntrenor: ${antrenori}" >
                                <td th:text="${oneAntrenor.getNume_ant()}" ></td>
                                <td th:text="${oneAntrenor.getPrenume_ant()}" ></td>
                                <td th:text="${oneAntrenor.getStringNastere()}" ></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col col-xs-4">Page 1 of 5
                            </div>
                            <div class="col col-xs-8">
                                <ul class="pagination hidden-xs pull-right">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                                <ul class="pagination visible-xs pull-right">
                                    <li><a href="#">«</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-10 col-md-offset-1">

                <div class="panel panel-default panel-table panel-success ">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h3 class="panel-title">Lista cu Concursuri</h3>
                            </div>
                            <div class="col col-xs-6 text-right">

                                <button type="button" class="btn btn-sm btn-primary btn-create">Create New</button>
                                <a class="btn btn-sm btn-info btn-lg"><em class="fa fa-pencil"></em></a>
                                <a class="btn btn-sm btn-primary btn-danger"><em class="fa fa-trash"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                            <tr>
                                <th >Denumire</th>
                                <th >Localitate</th>
                                <th >Data</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="oneConcurs: ${concursuri}" >
                                <td th:text="${oneConcurs.getDenumire()}" ></td>
                                <td th:text="${oneConcurs.getLocalitate()}" ></td>
                                <td th:text="${oneConcurs.getStringData()}" ></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col col-xs-4">Page 1 of 5
                            </div>
                            <div class="col col-xs-8">
                                <ul class="pagination hidden-xs pull-right">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                                <ul class="pagination visible-xs pull-right">
                                    <li><a href="#">«</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-10 col-md-offset-1">

                <div class="panel panel-default panel-table panel-warning ">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h3 class="panel-title">Lista cu Participanti</h3>
                            </div>
                            <div class="col col-xs-6 text-right">

                                <button type="button" class="btn btn-sm btn-primary btn-create">Create New</button>
                                <a class="btn btn-sm btn-info btn-lg"><em class="fa fa-pencil"></em></a>
                                <a class="btn btn-sm btn-primary btn-danger"><em class="fa fa-trash"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                            <tr>
                                <th >Nume</th>
                                <th >Prenume</th>
                                <th >Concurs</th>
                                <th >Categoria</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="oneInotator: ${inotatori}" >
                                <td th:text="${oneInotator.getNume_inot()}" ></td>
                                <td th:text="${oneInotator.getPrenume_inot()}" ></td>
                                <td th:text="${oneInotator.getConcursuriDenumire()}" ></td>
                                <td th:text="${oneInotator.getCategorie()}" ></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col col-xs-4">Page 1 of 5
                            </div>
                            <div class="col col-xs-8">
                                <ul class="pagination hidden-xs pull-right">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                                <ul class="pagination visible-xs pull-right">
                                    <li><a href="#">«</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>